<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="User">
    <sql id="table">user</sql>

    <resultMap id="userMap" type="User">
        <id column="id" property="id"/>
        <result property="name" column="name"/>
        <result property="password" column="password"/>
        <result property="mobile" column="mobile"/>
        <result property="roleJson" column="role_json"/>
    </resultMap>



    <select id="findByID" parameterType="long" resultMap="userMap">
        select * from <include refid="table"/> where id = #{id}
    </select>

    <select id="paging" resultMap="userMap">
        select * from <include refid="table"/>
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="name != null">
               and name = #{name}
            </if>
        </where>
        limit #{offset}, #{limit}
    </select>

    <select id="count" resultType="int">
        select count(id) from <include refid="table"/>
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="name != null">
                and name = #{name}
            </if>
        </where>
    </select>

    <select id="findByUser" resultMap="userMap">
        select * from <include refid="table"/>
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="name != null">
                and name = #{name}
            </if>
            <if test="mobile != null">
                and mobile = #{mobile}
            </if>
        </where>
    </select>

    <insert id="create" parameterType="User" keyProperty="id" keyColumn="id" useGeneratedKeys="true">
        insert into <include refid="table"/>(name, mobile, password, role_json)
        values(#{name}, #{mobile}, #{password}, #{roleJson})
    </insert>
</mapper>